{
    "parser": "babel-eslint",
    "extends": [
      "hubspot",
      "prettier",
      "prettier/react"
    ],
    "plugins": [
      "react"
    ],
    "rules": {
      "react/jsx-handler-names": "off",
      "no-param-reassign": "off",
      "no-unused-vars": [2, {
        varsIgnorePattern: "^__"
      }],
      "react/no-unescaped-entities": "off"
    }
}
