#page_header {
  background: #F6F8FA; }
  #page_header .ui.menu {
    border: 0;
    border-radius: 0;
    background: 0;
    box-shadow: none; }
    #page_header .ui.menu .item {
      border-bottom: 2px solid transparent;
      border-top: 2px solid transparent; }
    #page_header .ui.menu .active.item {
      background: #EBF0F5;
      border-bottom: 2px solid #E4813A;
      border-top: 2px solid transparent; }
    #page_header .ui.menu a.item {
      border-radius: 0;
      padding: 1.5em 1.14285714em; }
      #page_header .ui.menu a.item:hover {
        background: #EBF0F5; }
    #page_header .ui.menu .item:before {
      background: 0; }

.app-container {
  padding-top: 30px; }
